<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quizfloor.quizfloor" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!--
      IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission android:protectionLevel="signature"
        android:name="com.quizfloor.quizfloor.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.quizfloor.quizfloor.permission.C2D_MESSAGE" />

    <application
        android:name=".quizFloorApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_name"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".openingLogo"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".loginWithFacebook"
            android:label="@string/title_activity_login_with_facebook"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".selectCatagory"
            android:label="@string/title_activity_select_catagory"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".showInviteFriend"
            android:label="@string/title_activity_show_invite_friend" >
        </activity>
        <activity
            android:name=".lastPage"
            android:label="@string/title_activity_last_page" >
        </activity>
        <activity
            android:name=".showQuestion"
            android:label="@string/title_activity_show_question"
            android:screenOrientation="portrait"
           >
        </activity>
        <activity
            android:name=".testNav"
            android:label="@string/title_activity_test_nav" >
        </activity>
        <activity
            android:name=".submitQuestion"
            android:label="@string/title_activity_submit_question"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".categoryListActivity"
            android:label="@string/title_activity_category_list"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".showChallengeFriend"
            android:label="@string/title_activity_show_challenge_friend" >
        </activity>
        <activity
            android:name=".challengeListAdapter"
            android:label="@string/title_activity_challenge_list_adapter" >
        </activity>
        <activity
            android:name=".showChallenges"
            android:label="@string/title_activity_show_challenges"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ShowSubCatagory"
            android:label="@string/title_activity_show_sub_catagory"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".subCatagoryListAdapter"
            android:label="@string/title_activity_sub_catagory_list_adapter" >
        </activity>

        <service android:name="com.parse.PushService" />
        <receiver android:name="com.quizfloor.quizfloor.pushNotificationOpen"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!--
                  IMPORTANT: Change "com.parse.starter" to match your app's package name.
                -->
                <category android:name="com.quizfloor.quizfloor" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
